<form [formGroup]="bookForm" novalidate class="form" (ngSubmit)="handleSubmit(bookForm)">
  <div class="form__image">
    <app-image [src]="imageUrl"></app-image>
  </div>
  <app-input type="text" label="Title" [controlGroup]="bookForm" controlName="title" class="row"></app-input>
  <div formArrayName="authors">
    <div *ngFor="let authorForm of authors.controls">
      <div [formGroup]="authorForm" class="row">
        <app-input type="text" label="First name" [controlGroup]="authorForm" controlName="firstName" class="column"></app-input>
        <app-input type="text" label="Last name" [controlGroup]="authorForm" controlName="lastName" class="column"></app-input>
      </div>
    </div>
  </div>
  <app-input type="text" label="Pages" [controlGroup]="bookForm" controlName="pageCount"></app-input>
  <app-input type="text" label="Publisher" [controlGroup]="bookForm" controlName="publisher"></app-input>
  <app-input type="number" label="Year" [controlGroup]="bookForm" controlName="year"></app-input>
  <app-input type="date" label="Release date" [controlGroup]="bookForm" controlName="releaseDate"></app-input>
  <app-file [controlGroup]="bookForm" controlName="imageUrl"></app-file>
  <app-button type="submit" class="form__submit">Submit</app-button>
</form>
