@import 'partials/variables';

.book-list {
  padding-top: $dashboard-height;

  &__dashboard {
    position: fixed;
    height: $dashboard-height;
    width: 100%;
    top: 0;
  }

  &__cards {
    width: $sidebar-width;
  }

  &__details {
    display: block;
    position: fixed;
    width: calc((100% - #{$sidebar-width}) - #{$details-padding * 2});
    padding: $details-padding;
    top: $dashboard-height;
    left: $sidebar-width;
  }
}
