.details {
  position: fixed;
  padding: 10px;
  width: calc(100% - var(--book-list-width) - 20px);
  display: block;
}

.details__image {
  max-height: 300px;
  max-width: 300px;
  float: left;
}


.details__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  flex-direction: column;
  list-style-type: none;
  float: left;
  height: auto;
  line-height: 20px;
}

.details__term {
  font-weight: 600;
  margin-right: 5px;
}
