.form__group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form__label {
  font-size: 13px;
  margin-bottom: 3px;

  &--required {
    &:before{
      content: '*';
      color: red;
    }
  }
}

.form__validation {
  display: flex;
  flex-direction: column;
  padding: 2px 0;
  color: #de6262;
}

.validation__message {
  font-size: 13px;
}

.form__control {
  padding: 10px;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-size: 16px;
  height: 40px;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(0,0,0,.23);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.15);
  }

  &.ng-dirty {
    &.ng-invalid {
      border-color: #de6262;
    }
  }
}
