@import 'partials/variables';

.form__group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form__label {
  font-size: $form-control-label-font-size;
  margin-bottom: 3px;

  &--required {
    &:before{
      content: '*';
      color: $color-error;
    }
  }
}

.form__validation {
  display: flex;
  flex-direction: column;
  padding: 2px 0;
  color: $color-error;
}

.validation__message {
  font-size: 13px;
}

.form__control {
  padding: $form-control-padding;
  border-radius: $form-control-border-radius;
  background-clip: padding-box;
  border: 1px solid $color-ghost;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-size: $form-control-font-size;
  height: $form-control-height;

  &:focus {
    color: $color-trout;
    background-color: $color-white;
    border-color: rgba(0,0,0,.23);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.15);
  }

  &.ng-dirty {
    &.ng-invalid {
      border-color: $color-error;
    }
  }
}
