@import 'mixins/truncate';
@import 'partials/variables';

.file__container {
  padding: 10px 15px;
  background-color: $color-white;
  border: 1px solid $color-ghost;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  flex: 1;
}

.file__input {
  display: none;
}

.file__button {
  margin-right: 15px;
}
