@import 'partials/variables';

.dashboard {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: $color-white;
  z-index: 1;
  align-items: center;
  padding: 5px 15px;

  &__serach {
    flex: 0 0 $dashboard-search-width;
  }

  &__sort, &__actions {
    display: flex;
    flex: 0 0 $dashboard-actions-width;
    justify-content: space-around;
  }

  .sort {
    &__by {
      display: flex;
      font-size: 14px;
      padding: 5px;
      align-items: center;
    }
  }
}


