@import 'partials/variables';

:host {
  display: flex;
  flex-direction: column;
}

.form-array__header {
  display: flex;
  justify-content: space-between;
}

.header__label {
  font-size: 14px;
}

.form__validation {
  display: flex;
  flex-direction: row;
  padding: 2px 0;
  color: $color-error;
}

.validation__message {
  font-size: 13px;
}
