@import 'mixins/margin';
@import 'mixins/queries';

.form-page {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__content {
    padding-top: 48px;
    padding-bottom: 32px;
    width: 100%;
  }

  @include desktop {
    &__actions {
      position: absolute;
      top: 20px;
      left: 20px;
      display: flex;
    }

    &__content {
      max-width: 700px;
    }
  }
}
