@import 'partials/variables';

.details {
  &__image {
    height: $book-cover-height;
    width: $book-cover-width;

    float: left;
  }

  &__list {
    height: auto;

    float: left;
    margin-left: 10px;

    list-style-type: none;
    line-height: 20px;
  }

  &__term {
    font-weight: 600;
    margin-right: 5px;
  }

  &__actions {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
  }
}




